html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
	display: block;
}

.calc-title {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
}

.calc-title hr {
	width: 25%;
	height: 1px;
	border-radius: 100%;
}

select {
	height: 30px;
	width: 125px;
}

a.toggleDark {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#imagemArma {
	width: 175px;
}

.recipe > label > input {
	text-align: center;
	margin-left: 10px;
	max-width: 250px;
}

input, select {
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	box-shadow: inset 0px 0px 0px 0px red;
	border-style:solid;
}

footer {
	display: none;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
}

@media (min-width: 762px) {
	footer {
		display: inherit;
	}
}

body {
	transition: color .5s ease, background-color .5s ease;
}
