body {
	background-color: #121212;
}

.calc-title {
	color: rgb(249, 250, 251);
}
.calc-title hr {
	background-color: rgb(249, 250, 251);
}

.calc-desc {
	color: rgb(229, 231, 235);
}

footer {
	color: rgb(207, 209, 211);
}